<!DOCTYPE html>
<html lang="zh" ng-app="booking">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <script type="text/javascript" src="/angular/angular.js"></script>
        <script type="text/javascript" src="/static/js/booking.js"></script>
        <link rel="stylesheet" href="/weui/weui.css"/>
    </head>
    <body>
        <div>
            <div>会议室</div>
            <div>书吧/咖啡厅</div>
            <div>球场</div>
            <a href="javascript:;" class="">下一步</a>
        </div>
        <div>
            <div>日期</div>
            <div>时段</div>
            <div>费用</div>
            <div>错误信息</div>
            <a href="javascript:;" class="">下一步</a>
        </div>
        <div>
            <div>公司</div>
            <div>姓名</div>
            <div>联系电话</div>
            <div>错误信息</div>
            <a href="javascript:;" class="">下一步</a>
        </div>
        <div>
            <div>类别</div>
            <div>时间</div>
            <div>时段</div>
            <div>费用</div>
            <div>公司</div>
            <div>姓名</div>
            <div>联系电话</div>
            <div>错误信息</div>
            <a href="javascript:;" class="">提交</a>
            <a href="javascript:;" class="">支付</a>
        </div>
    </body>
</html>