<!DOCTYPE html>
<html lang="zh" ng-app="booking">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>预订系统</title>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/angular/angular.js"></script>
        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/js/booking.js"></script>
        <script type="text/javascript" src="/static/js/weixin.js"></script>
        <link rel="stylesheet" href="/weui/weui.css"/>
    </head>
    <body>
        <div ng-controller="index">
            <div id="openid" style='text-align:center; width: 90%; margin:auto; display:none;'><%=openid%></div>
            <div style='text-align:center; width: 90%; margin:auto;' ng-show="partOne">
                <div>&nbsp;</div>
                <div><img src="./static/img/logo.gif" width="100%"></div>
                <a href="#" class="weui-btn weui-btn_primary" ng-click="setBookingType('FIELD');nextStep(2);">足球场</a>
                <a href="#" class="weui-btn weui-btn_primary" ng-click="setBookingType('BAR');nextStep(2);">书吧/咖啡厅</a>
                <a href="#" class="weui-btn weui-btn_primary" ng-click="setBookingType('MEETINGROOMFL1');nextStep(2);">一层会议室</a>
                <a href="#" class="weui-btn weui-btn_primary" ng-click="setBookingType('MEETINGROOMFL2');nextStep(2);">二层会议室</a>
                <a href="#" class="weui-btn weui-btn_primary" ng-click="setBookingType('MEETINGROOMFL3');nextStep(2);">三层会议室</a>
                <div>&nbsp;</div>
                <div>钥匙领用电话: 0574-86681291<br>发票领取电话: 0574-86681126</div>
				<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;足球场:￥{{inits['FIELD_UNIT_PRICE']}}/小时<br>一层会议室:￥{{inits['MEETINGROOMFL1_UNIT_PRICE']}}/小时<br>茶水服务:￥{{inits['SERVICE_PRICE']}}/次</div>
                <div>&nbsp;</div>
            </div>
            <div style='text-align:left; width: 90%; margin:auto;' ng-show="partTwo">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">日期</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="date" ng-model='input_booking_date'>
                        </div>
                    </div>
                    <div class="weui-cells weui-cells_checkbox">
                        <label class="weui-cell weui-check__label" ng-repeat="p in period_list">
                            <div class="weui-cell__hd">
                                <input type="checkbox" class="weui-check" mg-model="p" ng-click="selectPeriod(p);" ng-checked="select_one">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>{{p.period}}</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div>&nbsp;</div>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(3);">下一步</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(5);">已预订</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(1);">返回</a>
                <div>&nbsp;</div>
            </div>
            <div style='text-align:left; width: 90%; margin:auto;' ng-show="partThree">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell" ng-show="!isField">
                        <div class="weui-cell__hd">
                            <label class="weui-label">公司</label>
                        </div>
                        <div class="weui-cell__bd">
							<input class="weui-input" type="text" placeholder="请输入公司" ng-model="booking_company">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">姓名</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入姓名" ng-model="booking_user">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">手机号</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="tel" placeholder="请输入手机号" ng-model="booking_contact">
                        </div>
                    </div>
                    <div class="weui-cells weui-cells_checkbox" ng-show="!isField && !isBar">
                        <label class="weui-cell weui-check__label">
							<div class="weui-cell__hd">
								<input type="checkbox" class="weui-check" mg-model="booking_service" ng-click="setBookingService()">
								<i class="weui-icon-checked"></i>
							</div>
							<div class="weui-cell__bd">
								<p>是否茶水服务(收费)</p>
							</div>
						</label>
                    </div>
                </div>
                <div>&nbsp;</div>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(4);">下一步</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(2);">返回</a>
                <div>&nbsp;</div>
            </div>
            <div style='text-align:left; width: 90%; margin:auto;' ng-show="partFour">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">预定类型</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{booking_type}}</label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">日期</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{booking_date}}</label>
                        </div>
                    </div>
                    <div class="weui-cell" ng-repeat="p in booking_period">
                        <div class="weui-cell__hd">
                            <label class="weui-label"><div ng-show="$index==0">时段</div></label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{p.period}}</label>
                        </div>
                    </div>
                    <div class="weui-cell" ng-show="booking_fee > 0.0">
                        <div class="weui-cell__hd">
                            <label class="weui-label">总费用</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{booking_fee | currency: '￥'}}</label>
                        </div>
                    </div>
                    <div class="weui-cell" ng-show="!isField">
                        <div class="weui-cell__hd">
                            <label class="weui-label">公司</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{booking_company}}</label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">姓名</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{booking_user}}</label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">联系方式</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{booking_contact}}</label>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="submit();" ng-show="isDone">提交</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(3);" ng-show="isDone">返回</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(1);" ng-show="!isDone">返回</a>
                <div>&nbsp;</div>
            </div>
            <div style='text-align:left; width: 90%; margin:auto;' ng-show="partFive">
                <div class="weui-cells weui-cells_form" ng-repeat="l in booked_list">
                    <div class="weui-cell" ng-repeat="p in l.period">
                        <div class="weui-cell__hd">
                            <label class="weui-label"><div ng-show="$index==0">时段</div></label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{p}}</label>
                        </div>
                    </div>
                    <div class="weui-cell" ng-show="!isField">
                        <div class="weui-cell__hd">
                            <label class="weui-label">公司</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{l.company}}</label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">姓名</label>
                        </div>
                        <div class="weui-cell__bd">
                            <label>{{l.username}}</label>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="nextStep(2);">返回</a>
                <div>&nbsp;</div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $('#dialogs').on('click', '.weui-dialog__btn', function(){
                    $(this).parents('.js_dialog').fadeOut(200);
                });
            });
        </script>
        <div id="dialogs">
            <div class="js_dialog" id="iosDialog2" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd" id='errorTips'></div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>