<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>TEST</title>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/angular/angular.js"></script>
        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/js/booking.js"></script>
        <script type="text/javascript" src="/static/js/weixin.js"></script>
        <link rel="stylesheet" href="/weui/weui.css"/>
    </head>
    <body>
        <div>
            <div style='text-align:center; width: 90%; margin:auto;'>
                <div>&nbsp;</div>
                <a href="#" class="weui-btn weui-btn_primary">会议室</a>
                <div>&nbsp;</div>
            </div>
        </div>
    </body>
</html>